/* Login / SignUp Forms */
#login-form{
  position: absolute;
  top: 200px;
  left: 560px;
}

#username-label{
  position: relative;
  top: -42px;
  left: -10px;
  max-height: 20%;
  max-width: 20%;
}

#username-input{
  position: relative;
  top: -50px;

}

#password-label{
  position: relative;
  max-height: 20%;
  max-width: 20%;
  left: -341px;
  top: 10px;
}

#password-input{
  position: relative;
  left: -330px;
  top: 2px;
}

#submit-login{
  position: relative;
  background-color: white;
  border-color: transparent;
  left: -595px;
  width: 200px;
  top: 150px;
  text-shadow: none;
}

#loginlabel{
  max-width: 100%;
  max-height: 100%;
}

#signup-link{
  position: relative;
  top: 500px;
  left: 460px;
  max-width: 25%;
  max-height: 25%
}

#take-to-sign-up{
  position: relative;
  background-color: white;
  border-color: transparent;
  width: 150px;
  top: 503px;
  left: 470px;
}

#sign-me-up{
  max-width: 100%;
  max-height: 100%;
}

#signup-form{
  position: absolute;
  top: 200px;
  left: 560px;
}

#signup-username-label{
  position: relative;
  top: -42px;
  left: -10px;
  max-height: 20%;
  max-width: 20%;
}

#signup-username{
  position: relative;
  top: -50px;
}

#signup-password-label{
  position: relative;
  max-height: 20%;
  max-width: 20%;
  left: -341px;
  top: 10px;
}

#signup-password{
  position: relative;
  left: -329px;
  top: 2px;
}

#signup-passwordconf-label{
  position: relative;
  left: -255px;
  top: 10px;
  max-height: 48%;
  max-width: 48%;
}

#signup-password_confirmation{
  position: relative;
  top: 5px;
  left: -246px;
}

#signup-submit{
  position: relative;
  background-color: white;
  border-color: transparent;
  left: -500px;
  width: 200px;
  top: 120px;
  text-shadow: none;
}

#sign-up-label-pic{
  max-width: 100%;
  max-height: 100%;
}

#login-link{
  position: relative;
  top: 500px;
  left: 470px;
  max-width: 25%;
  max-height: 25%
}

#take-to-log-in{
  position: relative;
  background-color: white;
  border-color: transparent;
  width: 150px;
  top: 505px;
  left: 460px;
  text-shadow: none;
}

#log-me-in{
  max-width: 100%;
  max-height: 100%;
}

/* New Game Form /////////////////////////////////////////////////////////////// */

#new-game-form{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 350px;
  left: 135px;
}

#start-new-game{
  position: relative;
  top: 600px;
  left: 620px;
  width: 200px;
  background-color: white;
  border-color: transparent;
}

#start-button-styler{
  max-width: 100%;
  max-height: 100%;
  
}

#back-to-home{
  position: relative;
  top: 20px;
  left: 590px;
}

#p1-label{
position: relative;
top: 70px;
left: 100px;
width: 10%;
height: 10%;
}

#p1-select{
position: relative;
top: 120px;
left: -10px;
}

#cpu1-label{
  position: relative;
  top: 70px;
  left: 150px;
  width: 10%;
  height: 10%;
}

#cpu1-select{
  position: relative;
  top: 120px;
  left: 53px;
}

#cpu2-label{
  position: relative;
  top: 70px;
  left: 235px;
  width: 10%;
  height: 10%;
}

#cpu2-select{
  position: relative;
  top: 120px;
  left: 125px;
}

#cpu3-label{
  position: relative;
  top: 70px;
  left: 320px;
  width: 10%;
  height: 10%;
}

#cpu3-select{
  position: relative;
  top: 120px;
  left: 210px;
}


#preview-container{
  position: relative;
  display: flex;
  flex-direction: row;
  top: 150px;
  width: 500px;
  height: 150px;
  left: 210px;
}

.avatar-preview{
  padding-right: 160px;
  padding-left: 20px;
}



/* Load Form ////////////////////////////////////// */

.load-files{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 100px;
  top: 150px;
  padding-top: 10px;
  padding-bottom: 80px;
  left: 165px;
  border-color: black;
  border-style: solid;
  z-index: 1000000000;
}

.save-files{
  position: relative;
  left: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

#load-game-avatar-container{
  position: relative;
  left: 150px;
}

.save-files-avatar{
  position: relative;
  top: -10px;
  max-width: 80px;
  max-height: 100px;
  padding-right: 130px;
}

.load-game-submits{
  position: relative;
  left: 900px;
  top: -130px;
  max-width: 100px;
  max-height: 40px;
  background-color: white;
  border-color: transparent;
}

.load-game-img{
  max-width: 200%;
  max-height: 200%;
}

.load-game-deletes{
  position: relative;
  left: 900px;
  top: -70px;
  max-width: 100px;
  max-height: 40px;
  background-color: white;
  border-color: transparent;
}

.delete-game-img{
  max-width: 200%;
  max-height: 200%;
}

#back-to-home-from-load{
  position: absolute;
  left: 650px;
  top: 20px;
  z-index: 1000000000000000000;
}

/* Home Page//////////////////////////////////////////////////////////////////// */

#home-container{
  display: flex;
  justify-content: center;
}

#home-new-game-button{
  position: absolute;
  top: 200px;
  width: 400px;
  /* left: 510px; */
  background-color: white;
  border-color: transparent;
}

#home-new-game-img{
  max-width: 100%;
  max-height: 100%;
}

#home-load-game-button{
  position: absolute;
  top: 380px;
  /* left: 510px; */
  width: 400px;
  background-color: white;
  border-color: transparent;
}

#home-load-game-img{
  max-width: 100%;
  max-height: 100%;
}


/* NavBar //////////////////////////////////////////////////////////////////////// */
#nav{
  display: flex;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
  height: 35px;
  z-index: 1;
}

#link-home{
  position: relative;
  left: 0%;
  width: 100px;
  top: 0px;
  z-index: 10000000000000000000000000;
}

#nav-home-icon{
  max-width: 75%;
  max-height: 75%;
}

#link-game{
  position: relative;
  left: 20px;
  top: 10px;
  z-index: 10000000000000000000000000;
  -webkit-text-fill-color: black;
  text-decoration: none;
  font-weight: bold;
}

#sign-out-button{
  position: relative;
  background-color: white;
  border-color: transparent;
  left: 80%;
  top: 0px;
  width: 100px;
  z-index: 10000000000000000000000000000;
}

#sign-out-styler{
  max-height: 170%;
  max-width: 170%;
}
/* GAME BOARD / AVATAR ////////////////////////////////////////////////////////////*/

#game-container{
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game-board{
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.avatar {
  max-width: 110%;
  max-height: 110%;
  z-index: 100000;
}

#dice{
  max-height: 80px;
  max-width: 80px;
  position: absolute;
  z-index: 1000;
  top: 555px;
  left: 1220px;
}

#save-game-button{
  position: absolute;
  background-color: white;
  border-color: transparent;
  opacity: 90%;
  z-index: 10000000000000;
  top: 35px;
  left: 670px;
  width: 100px;
  height: 30px;
}

#save-game-img{
  max-width: 100%;
  max-height: 100%;
}

#hub{
  position: absolute;
  background-color: white;
  opacity: 80%;
  height: 210px;
  width: 350px;
  top: 490px;
  left: 1080px;
}

#player{
  position: absolute;
  left: 105px;
  top: -5px;
  max-height: 30%;
  max-width: 30%;
}

.place1{
  max-height: 50%;
  max-width: 50%;
}

.place2{
  max-height: 50%;
  max-width: 50%;
}

.place3{
  max-height: 50%;
  max-width: 50%;
}

.place4{
  max-height: 50%;
  max-width: 50%;
}

#cpu1{
  position: absolute;
  left: 300px;
  top: -3px;
  height: 100px;
  width: 100px;
}

#cpu2{
  position: absolute;
  top: 165px;
  left: 80px;
  max-height: 30%;
  max-width: 30%;
}

#cpu3{
  position: absolute;
  top: 165px;
  left: 295px;
  height: 100px;
  width: 100px;
}

#game-player-label{
  position: absolute;
  max-height: 8%;
  max-width: 8%;
  top: 500px;
  left: 1080px;
}

#game-cpu1-label{
  position: absolute;
  max-height: 8%;
  max-width: 8%;
  top: 500px;
  left: 1290px;
}

#game-cpu2-label{
  position: absolute;
  max-height: 8%;
  max-width: 8%;
  top: 670px;
  left: 1070px;
}

#game-cpu3-label{
  position: absolute;
  max-height: 8%;
  max-width: 8%;
  top: 670px;
  left: 1290px;
}

#winner{
  position: absolute;
  top: 200px;
  left: 500px;
  
}
#winner-container{
  position: absolute;
  width: 695px;
  height: 600px;
  top: 80px;
  left: 372px;
  background-color: white;
  opacity: 90%;
  
}

#winner-avatar{
  position: absolute;
  max-width: 200px;
  left: 130px;
  top: 20px;
}

.winner-label{
  position: absolute;
  left: 50px;
  top: -90px;
  max-width: 350px;
}

#win{
  position: absolute;
  left: 80px;
  top: 340px;
  max-width: 300px;
}

/* Board Game Spacing */

/* Start //////////////////////////////////////////////////////////*/

.space-player-0 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 365px;
  left: 5px;
  z-index: 10;
}

.space-cpu1-0 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 365px;
  left: 55px;
  z-index: 10;
}

.space-cpu2-0 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 365px;
  left: 90px;
  z-index: 10;
}

.space-cpu3-0 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 365px;
  left: 135px;
  z-index: 10;
}

/* Space 1/////////////////////////////////////////////////////////////////////// */

.space-player-1 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 480px;
  left: 10px;
  z-index: 10;
}

.space-cpu1-1 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 480px;
  left: 80px;
  z-index: 10;
}
.space-cpu2-1 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 540px;
  left: 10px;
  z-index: 10;
}
.space-cpu3-1 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 540px;
  left: 70px;
  z-index: 10;
}

/* Space 2 /////////////////////////////////////////////////////////////////////////////////////////// */
.space-player-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 570px;
  left: 10px;
  z-index: 10;
}

.space-cpu1-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 570px;
  left: 70px;
  z-index: 10;
}
.space-cpu2-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 630px;
  left: 10px;
  z-index: 10;
}
.space-cpu3-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 630px;
  left: 60px;
  z-index: 10;
}

/* Space 3 ///////////////////////////////////////////////////////////////////////////////////////*/

.space-player-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 590px;
  left: 100px;
  z-index: 10;
}

.space-cpu1-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 590px;
  left: 170px;
  z-index: 10;
}

.space-cpu2-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 650px;
  left: 100px;
  z-index: 10;
}

.space-cpu3-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 650px;
  left: 160px;
  z-index: 10;
}

/* Space 4 /////////////////////////////////////////////////////////////////////////// */

.space-player-4{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 580px;
  left: 210px;
  z-index: 10;
}

.space-cpu1-4{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 580px;
  left: 280px;
  z-index: 10;
}

.space-cpu2-4{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 640px;
  left: 210px;
  z-index: 10;
}

.space-cpu3-4{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 640px;
  left: 270px;
  z-index: 10;
}

/* Space 5 ///////////////////////////////////////////////// */

.space-player-5{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 580px;
  left: 320px;
  z-index: 10;
}

.space-cpu1-5{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 580px;
  left: 390px;
  z-index: 10;
}

.space-cpu2-5{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 640px;
  left: 320px;
  z-index: 10;
}

.space-cpu3-5{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 640px;
  left: 370px;
  z-index: 10;
}
/* Space 6 //////////////////////////////////////// */

.space-player-6{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 580px;
  left: 430px;
  z-index: 10;
}

.space-cpu1-6{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 580px;
  left: 490px;
  z-index: 10;
}

.space-cpu2-6{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 640px;
  left: 430px;
  z-index: 10;
}

.space-cpu3-6{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 640px;
  left: 480px;
  z-index: 10;
}

/* Space 7 ////////////////////////////////////////////////// */

.space-player-7{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 580px;
  left: 540px;
  z-index: 10;
}

.space-cpu1-7{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 580px;
  left: 600px;
  z-index: 10;
}

.space-cpu2-7{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 640px;
  left: 540px;
  z-index: 10;
}

.space-cpu3-7{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 640px;
  left: 590px;
  z-index: 10;
}

/* Space 8  //////////////////////////////////////*/

.space-player-8{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 580px;
  left: 640px;
  z-index: 10;
}

.space-cpu1-8{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 580px;
  left: 690px;
  z-index: 10;
}

.space-cpu2-8{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 640px;
  left: 640px;
  z-index: 10;
}

.space-cpu3-8{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 640px;
  left: 680px;
  z-index: 10;
}

/* Space 9 /////////////////////// */

.space-player-9{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 490px;
  left: 640px;
  z-index: 10;
}

.space-cpu1-9{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 490px;
  left: 690px;
  z-index: 10;
}

.space-cpu2-9{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 550px;
  left: 640px;
  z-index: 10;
}

.space-cpu3-9{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 550px;
  left: 680px;
  z-index: 10;
}

/* Space 10 //////////////////////////////////// */

.space-player-10{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 490px;
  left: 720px;
  z-index: 10;
}

.space-cpu1-10{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 490px;
  left: 780px;
  z-index: 10;
}

.space-cpu2-10{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 540px;
  left: 720px;
  z-index: 10;
}

.space-cpu3-10{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 540px;
  left: 770px;
  z-index: 10;
}

/* Space 11 ///////////////*/

.space-player-11{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 490px;
  left: 820px;
  z-index: 10;
}

.space-cpu1-11{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 490px;
  left: 870px;
  z-index: 10;
}

.space-cpu2-11{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 540px;
  left: 820px;
  z-index: 10;
}

.space-cpu3-11{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 540px;
  left: 860px;
  z-index: 10;
}

/* Space 12 /////////////////////// */

.space-player-12{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 490px;
  left: 910px;
  z-index: 10;
}

.space-cpu1-12{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 490px;
  left: 960px;
  z-index: 10;
}

.space-cpu2-12{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 540px;
  left: 910px;
  z-index: 10;
}

.space-cpu3-12{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 540px;
  left: 960px;
  z-index: 10;
}

/* Space 13 //////////////////////////////////////////*/

.space-player-13{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 470px;
  left: 985px;
  z-index: 10;
}

.space-cpu1-13{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 470px;
  left: 1040px;
  z-index: 10;
}

.space-cpu2-13{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 530px;
  left: 995px;
  z-index: 10;
}

.space-cpu3-13{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 530px;
  left: 1035px;
  z-index: 10;
}

/* Space 14 /////////////////////////////////////////*/

.space-player-14{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 370px;
  left: 985px;
  z-index: 10;
}

.space-cpu1-14{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 370px;
  left: 1040px;
  z-index: 10;
}

.space-cpu2-14{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 430px;
  left: 995px;
  z-index: 10;
}

.space-cpu3-14{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 430px;
  left: 1035px;
  z-index: 10;
}

/* Space 15 ///////////////////////////////////////////*/

.space-player-15{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 1060px;
  z-index: 10;
}

.space-cpu1-15{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 1110px;
  z-index: 10;
}

.space-cpu2-15{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 410px;
  left: 1060px;
  z-index: 10;
}

.space-cpu3-15{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 410px;
  left: 1110px;
  z-index: 10;
}

/* Space 16/////////////////////////////////////////////// */

.space-player-16{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 1135px;
  z-index: 10;
}

.space-cpu1-16{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 1185px;
  z-index: 10;
}

.space-cpu2-16{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 410px;
  left: 1135px;
  z-index: 10;
}

.space-cpu3-16{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 410px;
  left: 1185px;
  z-index: 10;
}

/* Space 17 /////////////////////////////////////////*/

.space-player-17{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 1210px;
  z-index: 10;
}

.space-cpu1-17{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 1260px;
  z-index: 10;
}

.space-cpu2-17{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 410px;
  left: 1215px;
  z-index: 10;
}

.space-cpu3-17{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 410px;
  left: 1260px;
  z-index: 10;
}

/* Space 18 ////////////////////////////////////////*/

.space-player-18{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 270px;
  left: 1210px;
  z-index: 10;
}

.space-cpu1-18{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 270px;
  left: 1260px;
  z-index: 10;
}

.space-cpu2-18{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 320px;
  left: 1215px;
  z-index: 10;
}

.space-cpu3-18{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 320px;
  left: 1260px;
  z-index: 10;
}

/* Space 19 ////////////////////////////////////////*/

.space-player-19{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 185px;
  left: 1210px;
  z-index: 10;
}

.space-cpu1-19{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 185px;
  left: 1260px;
  z-index: 10;
}

.space-cpu2-19{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 240px;
  left: 1215px;
  z-index: 10;
}

.space-cpu3-19{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 240px;
  left: 1260px;
  z-index: 10;
}

/* Space 20 ////////////////////////////////////////*/

.space-player-20{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 1210px;
  z-index: 10;
}

.space-cpu1-20{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 1260px;
  z-index: 10;
}

.space-cpu2-20{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 1215px;
  z-index: 10;
}

.space-cpu3-20{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 1260px;
  z-index: 10;
}

/* Space 21 /////////////////////////////////////////*/

.space-player-21{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 1145px;
  z-index: 10;
}

.space-cpu1-21{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 1190px;
  z-index: 10;
}

.space-cpu2-21{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 1145px;
  z-index: 10;
}

.space-cpu3-21{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 1180px;
  z-index: 10;
}

/* Space 22//////////////////////////////////////////////// */

.space-player-22{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 1050px;
  z-index: 10;
}

.space-cpu1-22{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 1110px;
  z-index: 10;
}

.space-cpu2-22{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 1050px;
  z-index: 10;
}

.space-cpu3-22{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 1110px;
  z-index: 10;
}

/* Space 23 ///////////////////////////////////////*/

.space-player-23{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 980px;
  z-index: 10;
}

.space-cpu1-23{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 1030px;
  z-index: 10;
}

.space-cpu2-23{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 985px;
  z-index: 10;
}

.space-cpu3-23{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 1020px;
  z-index: 10;
}

/* Space 24 /////////////////////////////////////////////*/

.space-player-24{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 890px;
  z-index: 10;
}

.space-cpu1-24{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 950px;
  z-index: 10;
}

.space-cpu2-24{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 890px;
  z-index: 10;
}

.space-cpu3-24{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 950px;
  z-index: 10;
}

/* Space 25 /////////////////////////////////////////////*/

.space-player-25{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 185px;
  left: 890px;
  z-index: 10;
}

.space-cpu1-25{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 185px;
  left: 940px;
  z-index: 10;
}

.space-cpu2-25{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 220px;
  left: 890px;
  z-index: 10;
}

.space-cpu3-25{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 220px;
  left: 940px;
  z-index: 10;
}

/* Space 26 ///////////////////////////////////////////*/

.space-player-26{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 250px;
  left: 870px;
  z-index: 10;
}

.space-cpu1-26{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 250px;
  left: 940px;
  z-index: 10;
}

.space-cpu2-26{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 880px;
  z-index: 10;
}

.space-cpu3-26{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 940px;
  z-index: 10;
}

/* Space 27 //////////////////////////////////////////////////*/

.space-player-27{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 250px;
  left: 780px;
  z-index: 10;
}

.space-cpu1-27{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 250px;
  left: 840px;
  z-index: 10;
}

.space-cpu2-27{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 780px;
  z-index: 10;
}

.space-cpu3-27{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 840px;
  z-index: 10;
}

/* Space 28 /////////////////////////// */

.space-player-28{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 250px;
  left: 690px;
  z-index: 10;
}

.space-cpu1-28{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 250px;
  left: 740px;
  z-index: 10;
}

.space-cpu2-28{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 690px;
  z-index: 10;
}

.space-cpu3-28{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 740px;
  z-index: 10;
}

/* Space 29 //////////////////////////////*/

.space-player-29{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 250px;
  left: 600px;
  z-index: 10;
}

.space-cpu1-29{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 250px;
  left: 640px;
  z-index: 10;
}

.space-cpu2-29{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 600px;
  z-index: 10;
}

.space-cpu3-29{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 640px;
  z-index: 10;
}

/* Space 30 //////////////////////////////////*/

.space-player-30{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 185px;
  left: 590px;
  z-index: 10;
}

.space-cpu1-30{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 185px;
  left: 640px;
  z-index: 10;
}

.space-cpu2-30{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 220px;
  left: 590px;
  z-index: 10;
}

.space-cpu3-30{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 220px;
  left: 640px;
  z-index: 10;
}

/* Space 31 /////////////////////////////// */

.space-player-31{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 600px;
  z-index: 10;
}

.space-cpu1-31{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 630px;
  z-index: 10;
}

.space-cpu2-31{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 155px;
  left: 600px;
  z-index: 10;
}

.space-cpu3-31{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 155px;
  left: 630px;
  z-index: 10;
}

/* Space 32////////////////////////////////// */

.space-player-32{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 520px;
  z-index: 10;
}

.space-cpu1-32{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 550px;
  z-index: 10;
}

.space-cpu2-32{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 520px;
  z-index: 10;
}

.space-cpu3-32{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 550px;
  z-index: 10;
}

/* Space 33 ///////////////////////////////*/

.space-player-33{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 440px;
  z-index: 10;
}

.space-cpu1-33{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 470px;
  z-index: 10;
}

.space-cpu2-33{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 440px;
  z-index: 10;
}

.space-cpu3-33{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 470px;
  z-index: 10;
}

/* Space 34 //////////////////////////////*/

.space-player-34{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 360px;
  z-index: 10;
}

.space-cpu1-34{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 400px;
  z-index: 10;
}

.space-cpu2-34{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 360px;
  z-index: 10;
}

.space-cpu3-34{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 400px;
  z-index: 10;
}

/* Space 35 //////////////////////////////*/

.space-player-35{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 180px;
  left: 360px;
  z-index: 10;
}

.space-cpu1-35{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 180px;
  left: 400px;
  z-index: 10;
}

.space-cpu2-35{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 240px;
  left: 360px;
  z-index: 10;
}

.space-cpu3-35{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 240px;
  left: 400px;
  z-index: 10;
}

/* Space 36 ///////////////////////////*/

.space-player-36{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 280px;
  left: 370px;
  z-index: 10;
}

.space-cpu1-36{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 280px;
  left: 400px;
  z-index: 10;
}

.space-cpu2-36{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 340px;
  left: 370px;
  z-index: 10;
}

.space-cpu3-36{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 340px;
  left: 400px;
  z-index: 10;
}

/* Space 37 //////////////////*/

.space-player-37{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 290px;
  left: 290px;
  z-index: 10;
}

.space-cpu1-37{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 290px;
  left: 330px;
  z-index: 10;
}

.space-cpu2-37{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 340px;
  left: 290px;
  z-index: 10;
}

.space-cpu3-37{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 340px;
  left: 330px;
  z-index: 10;
}

/* Space 38 ///////////////////////*/

.space-player-38{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 290px;
  left: 190px;
  z-index: 10;
}

.space-cpu1-38{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 290px;
  left: 230px;
  z-index: 10;
}

.space-cpu2-38{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 340px;
  left: 190px;
  z-index: 10;
}

.space-cpu3-38{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 340px;
  left: 230px;
  z-index: 10;
}


/* Space 39 /////////////////////////*/

.space-player-39{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 215px;
  left: 190px;
  z-index: 10;
}

.space-cpu1-39{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 215px;
  left: 230px;
  z-index: 10;
}

.space-cpu2-39{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 260px;
  left: 190px;
  z-index: 10;
}

.space-cpu3-39{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 260px;
  left: 230px;
  z-index: 10;
}

/* Space 40 ///////////////////////////////*/

.space-player-40{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 120px;
  z-index: 14;
}

.space-cpu1-40{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80px;
  left: 155px;
  z-index: 13;
}

.space-cpu2-40{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 190px;
  z-index: 12;
}

.space-cpu3-40{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 140px;
  left: 225px;
  z-index: 11;
}

/* Space 41 //////////////////////////// */

.space-player-41{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 120px;
  z-index: 14;
}

.space-cpu1-41{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80px;
  left: 155px;
  z-index: 13;
}

.space-cpu2-41{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 190px;
  z-index: 12;
}

.space-cpu3-41{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 140px;
  left: 225px;
  z-index: 11;
}

/* Space 42 ///////////////////////// */

.space-player-42{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 120px;
  z-index: 14;
}

.space-cpu1-42{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80px;
  left: 155px;
  z-index: 13;
}

.space-cpu2-42{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 190px;
  z-index: 12;
}

.space-cpu3-42{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 140px;
  left: 225px;
  z-index: 11;
}

/* Space 43 ////////////////////// */

.space-player-43{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 120px;
  z-index: 14;
}

.space-cpu1-43{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80px;
  left: 155px;
  z-index: 13;
}

.space-cpu2-43{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 190px;
  z-index: 12;
}

.space-cpu3-43{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 140px;
  left: 225px;
  z-index: 11;
}

/* Space 44 ///////////////////////////////// */

.space-player-44{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 120px;
  z-index: 14;
}

.space-cpu1-44{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80px;
  left: 155px;
  z-index: 13;
}

.space-cpu2-44{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 190px;
  z-index: 12;
}

.space-cpu3-44{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 140px;
  left: 225px;
  z-index: 11;
}

/* Space 45 ////////////// */

.space-player-45{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 120px;
  z-index: 14;
}

.space-cpu1-45{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80px;
  left: 155px;
  z-index: 13;
}

.space-cpu2-45{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 190px;
  z-index: 12;
}

.space-cpu3-45{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 140px;
  left: 225px;
  z-index: 11;
}